body {
  background-image: url("Stupa_Borobudur.jpg");
  background-attachment: fixed;
}
div{
  background-image: url("avocado.jpg");
  border-style: solid;
  border-color: red;
  margin-left: 600px;
  margin-right: 600px;
}
.justify{
  color : blue;
  padding-bottom: 60%;
}
.repeat {
  padding-bottom: 40%;
  background-image: url("avocado.jpg");
  background-repeat: repeat-x;
  border-style: solid;
  border-color: red;
  margin-left: 600px;
  margin-right: 600px;
}
